# XDM data
*.db
*.db-journal
*.log*
images/*
temp/*
/plugins
*pylintOutput*
server.crt
server.key
# this has appeard probably from pylint history file
*.stats

# compiled doc
# build doc locally: sphinx-build -b html doc/source/ doc/html
doc/html

# dev python env
env

# python bins
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
test-results.xml
.cache
htmlcov/*

# Translations
#*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.svn
.idea
