{% extends "base.html" %}
{% set title = 'About' -%}
{%if cur_index%}
{% set active_page = active_page|default(cur_index) -%}
{%endif%}

{% block headInject %}
<script>
$(document).ready(function() {
    $('.icon-stack.status').hover(function(){
        $('.front', this).addClass('hidden');
        $('.action', this).removeClass('hidden');
        $('.icon-cog', this).addClass('icon-spin');
    }, function(){
        $('.front', this).removeClass('hidden');
        $('.action', this).addClass('hidden');
        $('.icon-cog', this).removeClass('icon-spin');
    })
});
</script>
{% endblock %}

{% block content%}

<p style="text-align: center;">
    <img src="{{webRoot}}/img/xdm-logo.svg" style="width:70%;display: inline-block;" />
</p>
<div class="well" style="position:relative;">
    <a href="{{'https://github.com/lad1337/XDM'|dereferMe}}"><img style="position: absolute; top: -1px; right: -2px; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <div class="row-fluid">
        <h3>About</h3>
        <p>
        Thank you for using XDM: eXtendable Download Manager!
        </p>
        <p>
            If you have any issues please dont refrain from creating an issue on <a href="{{'https://github.com/lad1337/XDM/issues'|dereferMe}}">Github</a><br/>
            For small question try #XDM on irc.freenode.net.
        </p>
        <h4>Version: {{common.getVersionHuman()}}</h4>
        {% if common.UPDATER.info.needUpdate %}
        <p>Update available to version {{common.UPDATER.info.externalVersion}} <a href="javascript:void(0)" onClick="modalCoreUpdate(this);" class="btn btn-success">Update Now</a></p>
        {%else%}
        <p class="muted">No update available. Checked just now!</p>
        {%endif%}
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>XDM start options:</h4>
            <pre>{{originalArgs|join(' ')}}</pre>
            {%for arg, value in (common.STARTOPTIONS|vars).items()%}
            {{arg}}: {{value}}<br>
            {%endfor%}
        </div>
        <div class="span6">
            <h4>System Information</h4>
            System: {{platform.system()}}<br>
            Release: {{platform.release()}}<br>
            Version: {{platform.version()}}<br>
            Platform: {{platform.platform()}}<br>
            Machine: {{platform.machine()}}<br>

            Processor: {{platform.processor()}}<br>
            Node: {{platform.node()}}<br>
            Python_version: {{platform.python_version()}}<br>
            Python_build: {{platform.python_build()}}<br>
            Python_implementation: {{platform.python_implementation()}}
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span7">
            <h4>XDM paths:</h4>
            <table class="table table-bordered table-condensed">
                <tr>
                    <td>HOME_PATH</td>
                    <td>{{xdm.HOME_PATH}}</td>
                </tr>
                <tr>
                    <td>APP_PATH</td>
                    <td>{{xdm.APP_PATH}}</td>
                </tr>
                <tr>
                    <td>DATADIR</td>
                    <td>{{xdm.DATADIR}}</td>
                </tr>
                <tr>
                    <td>CONFIG_PATH</td>
                    <td>{{xdm.CONFIG_PATH}}</td>
                </tr>
                <tr>
                    <td>PROGDIR</td>
                    <td>{{xdm.PROGDIR}}</td>
                </tr>
                
                <tr>
                    <td>IMAGEPATH</td>
                    <td>{{xdm.IMAGEPATH}}</td>
                </tr>
                <tr>
                    <td>IMAGEPATH_RELATIVE</td>
                    <td> {{xdm.IMAGEPATH_RELATIVE}}</td>
                </tr>
                
                <tr>
                    <td>TEMPDIR</td>
                    <td>{{xdm.TEMPDIR}}</td>
                </tr>
                <tr>
                    <td>TEMPPATH</td>
                    <td>{{xdm.TEMPPATH}}</td>
                </tr>
                <tr>
                    <td>TEMPPATH_RELATIVE</td>
                    <td>{{xdm.TEMPPATH_RELATIVE}}</td>
                </tr>
                
                <tr>
                    <td>PLUGININSTALLDIR</td>
                    <td>{{xdm.PLUGININSTALLDIR}}</td>
                </tr>
                <tr>
                    <td>PLUGININSTALLPATH</td>
                    <td>{{xdm.PLUGININSTALLPATH}}</td>
                </tr>
                <tr>
                    <td>PLUGININSTALLPATH_RELATIVE</td>
                    <td>{{xdm.PLUGININSTALLPATH_RELATIVE}}</td>
                </tr>
                
            </table>
        </div>
        <div class="span5">
            <h4>Schedules:</h4>
            <table class="table table-bordered table-condensed">
            
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Interval</th>
                        <th>Last run</th>
                        <th>Next run</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="5" style="vertical-align: middle;">
                            Waiting:
                            <span class="icon-stack">
                                <i class="icon-cog icon-stack-base"></i>
                                <i class="icon-ok text-success" style="font-size: 190%;"></i>
                            </span>
                            Running:
                            <span class="icon-stack">
                                <i class="icon-cog icon-stack-base icon-spin"></i>
                                <i class="icon-ok text-success" style="font-size: 190%;"></i>
                            </span>
                            Stopped:
                            <span class="icon-stack">
                                <i class="icon-cog icon-stack-base"></i>
                                <i class="icon-ban-circle text-error" style="font-size: 190%;"></i>
                            </span>
                            Fails:
                            <a href="javascript:void(0)" class="badge badge-important">X</a>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    {%for task in common.SCHEDULER.getTasks()%}
                    <tr>
                        <td style="text-transform: capitalize;">{{task.name}}</td>
                        <td>{{task.getLoopDelay()}}s</td>
                        <td title="{{task.getLastRun()}}">{%if task.getLastRun()%}{{task.getLastRun()|relativeTime}}{%else%}never{%endif%}</td>
                        <td>{{task.getNextRunDatetime()|relativeTime}}</td>
                        <td>
                            <span class="icon-stack status">
                                <i class="icon-cog icon-stack-base{%if not task.isSleeping()%} icon-spin{%endif%}"></i>
                                {%if task.isRunning()%}
                                <i class="icon-ok text-success front" style="font-size: 190%;"></i>
                                {%else%}
                                <i class="icon-ban-circle text-error front" style="font-size: 190%;"></i>
                                {%endif%}
                                
                                <a href="?runTask={{task.getUuid()}}" title="Run now / Restart (a 2 seconds delay may occur)" class="hidden action" style="text-decoration: none;"><i class="icon-play"  style="font-size: 135%;color: #fff;margin-left: 2px"></i></a>
                            </span>
                            {%if task.getFails()%}
                            <a href="#{{task.name|idSafe}}-modal" role="button" class="badge badge-important" data-toggle="modal" title="Click me for more info">{{task.getFails()}}</a>
                            <div id="{{task.name|idSafe}}-modal" class="modal hide fade modal-wide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3 id="myModalLabel">Last error for {{task.name}}</h3>
                                </div>
                                <div class="modal-body">
                                    <pre>{{task._failMessage}}</pre>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                </div>
                            </div>
                            {%else%}
                            <span class="badge">0</span>
                            {%endif%}
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
