{% extends "base.html" %}
{% set title = 'About' -%}
{%if cur_index%}
{% set active_page = active_page|default(cur_index) -%}
{%endif%}
{% block content%}

<p style="text-align: center;">
    <img src="/img/xdm-logo.svg" style="width:70%;display: inline-block;" />
</p>
<div class="well" style="position:relative;">
    <a href="https://github.com/lad1337/XDM"><img style="position: absolute; top: -1px; right: -2px; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <div class="row-fluid">
        <h3>About</h3>
        <p>
        Thank you for using XDM: eXtendable Download Manager!
        </p>
        <h4>Version: {{common.getVersionHuman()}}</h4>
        {% if common.UPDATER.info.needUpdate %}
        <p>Update available to version {{common.UPDATER.info.externalVersion}} <a href="#" onClick="modalCoreUpdate(this); return false;" class="btn btn-success">Update Now</a></p>
        {%else%}
        <p class="muted">No update available. Checked just now!</p>
        {%endif%}
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>XDM start options:</h4>
            <pre>{{originalArgs|join(' ')}}</pre>
            {%for arg, value in (common.STARTOPTIONS|vars).items()%}
            {{arg}}: {{value}}<br>
            {%endfor%}
        </div>
        <div class="span6">
            <h4>System Information</h4>
            System: {{platform.system()}}<br>
            Release: {{platform.release()}}<br>
            Version: {{platform.version()}}<br>
            Platform: {{platform.platform()}}<br>
            Machine: {{platform.machine()}}<br>

            Processor: {{platform.processor()}}<br>
            Node: {{platform.node()}}<br>
            Python_version: {{platform.python_version()}}<br>
            Python_build: {{platform.python_build()}}<br>
            Python_implementation: {{platform.python_implementation()}}
        </div>
    </div>
    
    <div class="row-fluid">
    
        <div class="span9">
            <h4>XDM paths:</h4>
            <table class="table table-bordered table-condensed">
                <tr>
                    <td>HOME_PATH</td>
                    <td>{{xdm.HOME_PATH}}</td>
                </tr>
                <tr>
                    <td>APP_PATH</td>
                    <td>{{xdm.APP_PATH}}</td>
                </tr>
                <tr>
                    <td>DATADIR</td>
                    <td>{{xdm.DATADIR}}</td>
                </tr>
                <tr>
                    <td>CONFIG_PATH</td>
                    <td>{{xdm.CONFIG_PATH}}</td>
                </tr>
                <tr>
                    <td>PROGDIR</td>
                    <td>{{xdm.PROGDIR}}</td>
                </tr>
                
                <tr>
                    <td>IMAGEPATH</td>
                    <td>{{xdm.IMAGEPATH}}</td>
                </tr>
                <tr>
                    <td>IMAGEPATH_RELATIVE</td>
                    <td> {{xdm.IMAGEPATH_RELATIVE}}</td>
                </tr>
                
                <tr>
                    <td>TEMPDIR</td>
                    <td>{{xdm.TEMPDIR}}</td>
                </tr>
                <tr>
                    <td>TEMPPATH</td>
                    <td>{{xdm.TEMPPATH}}</td>
                </tr>
                <tr>
                    <td>TEMPPATH_RELATIVE</td>
                    <td>{{xdm.TEMPPATH_RELATIVE}}</td>
                </tr>
                
                <tr>
                    <td>PLUGININSTALLDIR</td>
                    <td>{{xdm.PLUGININSTALLDIR}}</td>
                </tr>
                <tr>
                    <td>PLUGININSTALLPATH</td>
                    <td>{{xdm.PLUGININSTALLPATH}}</td>
                </tr>
                <tr>
                    <td>PLUGININSTALLPATH_RELATIVE</td>
                    <td>{{xdm.PLUGININSTALLPATH_RELATIVE}}</td>
                </tr>
                
            </table>
        </div>
    </div>
</div>
{% endblock %}
