<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="icon" type="image/png" href="/img/xdm-icon.32x32.png" />
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>

        <!-- Bootstrap -->
        <!--
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
         -->
        <link href="/bootstrap/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" media="screen">

        <link href="/css/fontawesome/css/font-awesome.min.css" rel="stylesheet" media="screen">



        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/smoothness/jquery-ui-1.10.1.custom.css">        
        
        <script src="/js/vendor/jquery-1.9.0.min.js"></script>
        <script src="/js/vendor/jquery-ui-1.10.1.custom.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script>
        var mediaTypenames = [{% for mediaType in mtms%}'{{mediaType.type}}',{%endfor%}];
        </script>
        {% block headInject %}
        {% endblock %}
    </head>
    <body>
        <div id="container" class="{{ active_page }} page-container">
            {% set navigation_bar = [
                                    ('/', 'index', 'Home', [('/completed/', 'completed', 'Completed'),
                                                            ('/deleted/', 'deleted', 'Deleted')]),
                                    ('/results/', 'search', 'Search', []),
                                    ('/settings/', 'settings', 'Settings', [])
                                    ] -%}
            {% set active_page = active_page|default('index') -%}
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/"><img src="/img/xdm-logo.svg" width="100"></a>
                    <ul class="nav">
                        {% for href, id, caption, subMenu in navigation_bar %}
                        {%if not subMenu%}
                            <li class="{% if id == active_page %}active{% endif%}">
                                <a href="{{ href|e }}">{{ caption }}</a>
                            </li>
                        {%else%}
                            <li class="dropdown{% if id == active_page %} active{% endif%}">
                                <a href="{{ href|e }}" class="dropdown-toggle"  data-target="#" data-toggle="dopdown">{{ caption }}<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% for href2, id2, caption2 in subMenu %}
                                    <li class="{% if id2 == active_page %}active{% endif%}">
                                        <a href="{{ href2|e }}">{{ caption2 }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {%endif%}
                        {% endfor %}
                    </ul>
                    <form class="navbar-search pull-right" action="/results" method="post" accept-charset="UTF-8">
                    
                        <div class="input-append">
                            <input type="text" class="search-querdy" placeholder="Search" name="search_query" autocomplete="off" style="width: 100%;"/>
                            <span class="add-on"><i class="icon-remove"></i></span>
                        </div>
                    </form>
                </div>
            </div>
        
        
        
        
            {% block content %}
            
            {% endblock %}
        
            <footer>
            {% block footer%}  
            <a href="/updateAll" title="It works but the new page is bugging out, just refresh the page again">Refresh all</a> -
            <a href="/shutdown">Shutdown</a> -
            <a href="/reboot" title="does a hard reboot. this will rescan plugins">Reboot</a> - 
            <a href="/about">About</a> - 
            <a href="/plugins">Plugins</a>
            {%endblock%}
            </footer>
        </div>    
        {% block js%}
        {%endblock%}
    </body>
</html>