<!DOCTYPE html>
<!--                                                                                                    
                                                                                                
 ,,                                                                                             
*MM                     `7MMF'            db      `7MM"""Yb.                                    
 MM                       MM             ;MM:       MM    `Yb.  __,                             
 MM,dMMb.`7M'   `MF'      MM            ,V^MM.      MM     `Mb `7MM  pd""b.   pd""b.  M******A' 
 MM    `Mb VA   ,V        MM           ,M  `MM      MM      MM   MM (O)  `8b (O)  `8b Y     A'  
 MM     M8  VA ,V         MM      ,    AbmmmqMA     MM     ,MP   MM      ,89      ,89      A'   
 MM.   ,M9   VVV          MM     ,M   A'     VML    MM    ,dP'   MM    ""Yb.    ""Yb.     A'    
 P^YbmdP'    ,V         .JMMmmmmMMM .AMA.   .AMMA..JMMmmmdP'   .JMML.     88       88    A'     
            ,V                                                      (O)  .M' (O)  .M'   A'      
         OOb"                                                        bmmmd'   bmmmd'   A'       
-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="icon" type="image/png" href="/img/xdm-icon.32x32.png" />
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>

        <link href="/css/ui-darkness/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" media="screen">
        <!-- Bootstrap -->
        <link href="/bootstrap/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" media="screen">
        <link href="/css/fontawesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="/css/main.css">      
        
        <script src="/js/vendor/jquery-1.9.0.min.js"></script>
        <script src="/js/vendor/jquery-ui-1.10.1.custom.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script>
        var mediaTypenames = [{% for mediaType in mtms%}'{{mediaType.type}}',{%endfor%}];
        </script>
        {% block headInject %}
        {% endblock %}
    </head>
    <body>
        <div id="container" class="{{ active_page }} page-container">
            {% set navigation_bar = [
                                    ('/', 'index', 'Home', [('/', 'index', 'Wanted'),
                                                            ('/completed/', 'completed', 'Completed'),
                                                            ('/deleted/', 'deleted', 'Deleted')]),
                                    ('/results/', 'search', 'Search', []),
                                    ('/settings/', 'settings', 'Settings', [('/settings/', 'main', 'Core and Plugin Settings'),
                                                                            ('/plugins/', 'plugins', 'Manage Plugins')])
                                    ] -%}
            {% set active_page = active_page|default('index') -%}
            {% set active_sub_page = active_sub_page|default('index') -%}
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/"><img src="/img/xdm-logo.svg" width="100"></a>
                    <ul class="nav">
                        {% for href, id, caption, subMenu in navigation_bar %}
                        {%if not subMenu%}
                            <li class="{% if id == active_page %}active{% endif%}">
                                <a href="{{ href|e }}">{{ caption }}</a>
                            </li>
                        {%else%}
                            <li class="dropdown{% if id == active_page %} active{% endif%}" >
                                <a href="{{ href|e }}" class="dropdown-toggle"  data-target="#" data-toggle="dopdown">{{ caption }}<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% for href2, id2, caption2 in subMenu %}
                                    <li class="{% if id2 == active_sub_page %}btn-striped{% endif%}">
                                        <a href="{{ href2|e }}">{{ caption2 }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {%endif%}
                        {% endfor %}
                    </ul>
                    
                    <ul class="nav pull-right notifications">
                        <li class="dropdown">
                        
                        {%if messages|length%}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 10px 8px 10px;">
                            <span class="badge badge-info count">{{messages|length}}</span>
                        </a>
                        <table class="table dropdown-menu table-hover table-condensed">
                            {%for message in messages%}
                            <tr class="message {{message.getClass()}}" data-uuid={{message.uuid}}>
                                <td style="width:229px;">
                                    <span class="time muted">{{message.createTime|relativeTime}}</span><br/>
                                    <span class="text">{{message.text}}</span>
                                </td>
                                <td class="actions">
                                    <button class="close" onClick="messageClose('{{message.uuid}}')"><i class="icon-remove-sign"></i></button>
                                    {%if message.confirmJavascript%}
                                    {# this will add the javascript method action#}
                                    <input type="button" class="btn btn-mini btn-success btn-block" onClick="{{message.confirmJavascript.callString}}; return false;" value="OK"/>
                                    {%elif message.confirm%}
                                    {# this will add the call to the python function action#}
                                    <input type="button" class="btn btn-mini btn-success btn-block" onClick="messageConfirm('{{message.uuid}}')" value="OK"/>
                                    {%endif%}
                                    
                                    {%if message.denyJavascript%}
                                    {# this will add the javascript method action#}
                                    <input type="button" class="btn btn-mini btn-danger btn-block" onClick="{{message.denyJavascript.callString}}; return false;" value="No"/>
                                    {%elif message.deny%}
                                    {# this will add the call to the python function action#}
                                    <input type="button" class="btn btn-mini btn-danger btn-block" onClick="messageDeny('{{message.uuid}}')" value="No"/>
                                    {%endif%}

                                </td>
                            </tr>
                            {%endfor%}
                        </table>
                        {%else%}
                        <a  style="padding: 10px 8px 10px;">
                            <span class="badge">{{messages|length}}</span>
                        </a>
                        {%endif%}
                        </li>
                    </ul>
                    <form class="navbar-search pull-right" action="/results" method="post" accept-charset="UTF-8">
                        <div class="input-append">
                            <input type="text" class="search-querdy" placeholder="Search" name="search_query" autocomplete="off" style="width: 100%;"/>
                            <span class="add-on"><i class="icon-remove"></i></span>
                        </div>
                    </form>
         
                </div>
            </div>
        
        
        
        
            {% block content %}
            
            {% endblock %}
        
            <footer>
                {% block footer%}  
                <a href="/updateAll" title="It works but the new page is bugging out, just refresh the page again">Refresh all</a> -
                <a href="#" onClick="shutdownModal();return false;" >Shutdown</a> -
                <a href="#" onClick="rebootModal();return false;">Reboot</a> - 
                <a href="/about">About</a> - 
                <a href="https://twitter.com/XDM_APP"><i class="icon-twitter-sign"></i></a>
                {% if system.c.show_feed%}
                
                 - <i class="icon-rss-sign"></i>
                <div id="newsFeed">
                    {%for news in common.NM.news %}
                        <div class="news {{news.tags|join(' ')}}"><a href="{{news.link}}">{{news.message}}</a></div>
                    {% endfor %}
                </div>
                {% endif %}
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display:inline-block;">
                <input type="hidden" name="cmd" value="_donations">
                <input type="hidden" name="business" value="lad1337@gmail.com">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="item_name" value="XDM: eXtendable Download Manager">
                <input type="hidden" name="item_number" value="XDM">
                <input type="hidden" name="no_note" value="0">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                
                {%endblock%}
            </footer>
        </div>    
        {% block js%}
        {%endblock%}
    </body>
</html>