{% extends "base.html" %}
{% set title = 'XDM Completed' -%}
{% set active_page = active_page|default('index') -%}
{% set active_sub_page = 'completed' -%}

{% block content%}
<div class="btn-group" data-toggle="buttons-radio">
    {% for mt in mtms%}
        <a href="#{{mt.instance}}" data-toggle="tab" class="btn btn-primary{% if mt.identifier == system.c.defaut_mt_select %} active{%endif%}">
        {{mt.type}} ({{mt.getElementsWithStatusIn(common.getCompletedStatuses(), True)|length}})
        </a>
    {% endfor %}
</div>

<div class="tab-content">
{% for mt in mtms%}
<div class="{{mt.identifier.replace('.','-')}} tab-pane fade{% if mt.identifier == system.c.defaut_mt_select %} active in{%endif%}" id="{{mt.instance}}">
    {{mt.paint(status=common.getCompletedStatuses())}}
</div>
{% endfor %}
</div>
{% endblock %}

{% block headInject %}
{% for mt in mtms%}
<!-- headInject {{mt.identifier}} start -->
{{mt.headInject().replace('{{webRoot}}', webRoot)}}
<!-- headInject {{mt.identifier}} end -->
{% endfor %}
{% endblock %}
