{% extends "base.html" %}
{% set title = 'Events' -%}
{% set active_page = active_page|default('events') -%}
{% block content %}
<h1>Events</h1>
<table class="display" cellpadding=0 cellspacing=0 border=0>
<thead>
    <tr>
        <th>Time</th>
        <th>Game</th>
        <th>Type</th>
        <th>Item</th>
        <th>Description</th>
    </tr>
</thead>
<tbody>
{% for e in events %}
    <tr>
        <td>{{e.getNiceTime()}}</td>
        <td>{{e.game}}</td>
        <td>{{e.event}} {{e.obj_class}}</td>
        {% if e.obj_class == 'Generic' %}
        {% set item_str = objects['Game'][e.game_id]~'' -%}
        {% else %}
        {% set item_str = objects[e.obj_class][e.obj_id]~'' -%}
        {% endif %}
        <td>{{item_str.replace('.', ' ')}}</td>
        <td>{{e.human().replace('.', ' ')}}</td>
    </tr>
{% endfor %}
</tbody>
</table>
<a href="/events/?page={{nPage}}">Next Page</a>
{% endblock %}