{% extends "base.html" %}
{% set title = 'XDM' -%}
{%if cur_index%}
{% set active_page = active_page|default(cur_index) -%}
{%endif%}
{% block content%}
<div class="btn-group" data-toggle="buttons-radio">
    {% for mt in mtms%}
        <a href="#{{mt.instance}}" data-toggle="tab" class="btn btn-primary{% if mt.identifier == system.c.defaut_mt_select %} active{%endif%}">
        {{mt.type}} ({{mt.getDownloadableElements(True)|length}})
        </a>
    {% endfor %}
</div>

<div class="tab-content">
{% for mt in mtms%}
<div class="{{mt.identifier.replace('.','-')}} tab-pane fade{% if mt.identifier == system.c.defaut_mt_select %} active in{%endif%}" id="{{mt.instance}}">{{mt.paint()}}</div>
{% endfor %}
</div>
{% endblock %}

{% block headInject %}
{% for mt in mtms%}

{{mt.headInject()}}
{% endfor %}
{% endblock %}
