{% extends "base.html" %}
{% set title = 'XDM' -%}
{%if cur_index%}
{% set active_page = active_page|default(cur_index) -%}
{%endif%}
{% block content%}
<div class="btn-group" data-toggle="buttons-radio" id="media-type-select">
    {% for mt in mtms%}
        <a href="#{{mt.instance}}" data-toggle="tab" data-identifier="{{mt.instance}}" class="btn btn-primary{% if mt.identifier == system.c.defaut_mt_select %} active{%endif%}">
        {{mt.type}}
        </a>
    {% endfor %}
</div>
<div class="btn-group pull-right" data-toggle="buttons-radio" id="media-type-status-select">
        <a class="btn btn-default active" data-status="home" title="Click again to reload">
        {{_(common.WANTED.name)}}
        </a>
        <a class="btn btn-default" data-status="completed" title="Click again to reload">
        {{_(common.COMPLETED.name)}}
        </a>
</div>

<div class="tab-content">
{% for mt in mtms%}
<div class="{{mt.identifier.replace('.','-')}} tab-pane fade{% if mt.identifier == system.c.defaut_mt_select %} active in{%endif%}" id="{{mt.instance}}">
{%- if mt.identifier == system.c.defaut_mt_select %}
    {{mt.paint()}}
{%endif -%}
</div>
{% endfor %}
</div>
{% endblock %}

{% block headInject %}
{% for mt in mtms%}
<!-- headInject {{mt.identifier}} start -->
{{mt.headInject().replace('{{webRoot}}', webRoot)}}
<!-- headInject {{mt.identifier}} end -->
{% endfor %}

<script>
var downloadStatusInterval;

$(document).ready(function() {
    initDownloadbars();
    $('#content>.btn-group a[href="'+decodeURIComponent(window.location.hash)+'"]').click();
    $('#media-type-select a').click(function(e){
        loadMediaTypeContent(this, $('#media-type-status-select a.active').data('status'), false);
    })
    $('#media-type-status-select a').click(function(e){
        var link = $('#media-type-select a.active').first();
        var status = $(this).data('status');
        loadMediaTypeContent(link, status, true);
    })
    
});

function loadMediaTypeContent(link, status, overwrite){
    var link = $(link);
    var target = $('#'+link.data('identifier'));
    
    var data = {};
    data['identifier'] = link.data('identifier');
    data['status'] = status;
    if(!target.html() || overwrite){
        link.addClass('btn-striped animate').removeClass('active');
        jQuery.get( webRoot+'/getMediaTypePaint', data, function(res){
            if(res){
                target.html(res)
                var fnName = link.data('identifier')+"_init"
                var fn = window[fnName];
                if(typeof fn === 'function') {
                    fn();
                    console.log("called: "+fnName);
                }
            }
            link.removeClass('btn-striped animate').addClass('active');
        });
    }
}


function initDownloadbars(){
    var bars = $('.status-downloading .progress-download')
    if(bars.length){
        $('.progress.progress-download .bar').resize(function(event){
            $('span', this).width($(this).parent().width())
            $('span', $(this).parent()).css('line-height', $(this).parent().height()+'px')
        });
        $('.progress.progress-download .bar').resize()

        var ids = {}
        bars.each(function(barIndex, curBar){
            ids[barIndex] = $(curBar).data('id')
        });
        poolDownloadStatus(ids)
        window.setInterval(function(){ poolDownloadStatus(ids)}, 15000); // poll every 15seconds
    
    }

}


function poolDownloadStatus(ids){
    $.getJSON(webRoot+'/ajax/getDownloadBars', ids, function(res){
        if(res['result']){
            $.each(res['data'], function(curID, percentage){
                var parent = $('.progress-download[data-id="'+curID+'"]');
                if(percentage){
                    $('.bar' ,parent).css('width', percentage + '%');
                    parent.removeClass('progress-striped active').addClass('progress-success')
                }else{
                    parent.addClass('progress-striped active').removeClass('progress-success')
                }
      
            })
        }
    })

}

</script>

{% endblock %}
