{% extends "base.html" %}
{% set title = 'Log and Errors' -%}
{% set active_page = active_page|default('settings') -%}
{% set active_sub_page = active_sub_page|default('log') -%}


{% block headInject %}
<script>
//FIXME: for some reason the #scroller scrolls when a modal is opened
var firstResize = true;
$(document).ready(function() {
    $('#filter-group button').click(function(){
        filterLogTable($(this).data('lvl'));
    })
    $(document).on('resize', function(event){
        resizeAndScrollLog();
    });

    refilter();
});


$('#scroller table.table').ready(function() {
    resizeAndScrollLog();
});

function resizeAndScrollLog(){
    // 240px is approximently the size og the footer, menu and margin
    $('#scroller').height(($(window).height()-240)+'px');
    scrollDownLogs();
}

function getLogEntries(spinner){
    var data = {'entries': 3}
    var table = $('#logs')
    spinner.stop().css("color", "#484848").animate({"color": "#fff"}, 500);
    
    $.getJSON(webRoot+'/ajax/getLogEntries', data, function(entries){
        $.each(entries, function(index, data){
            var id = data['id'];
            var html = data['html'];
            if(!$('#'+id).length){
                table.append(html)
                if($('#scroller .table tr').length > 100)
                   $('#scroller .table tr:first', table).remove();
            }
        });
        refilter();
    });
}

var liveUpdateInterval;

function toogleLiveUpdate(button){
    var b = $(button);
    var spinner = $('.icon-refresh', b);
    if(b.hasClass('active')){
        window.clearInterval(liveUpdateInterval);
        b.removeClass('active')
        spinner.removeClass('icon-spin')
    }else{
        liveUpdateInterval = window.setInterval(function(){getLogEntries(spinner)}, 1500)
        b.addClass('active')
        $('.icon-refresh', b).addClass('icon-spin')
    }
};

function showLvls(lvls){
    $('tr.'+lvls.join(', tr.')).show()
}

function hideLvls(lvls){
    $('tr.'+lvls.join(', tr.')).hide()
}

function refilter(){
    var lowestLvl = $('#filter-group button.active').data('lvl');
    if(lowestLvl != 'debug'){
        filterLogTable(lowestLvl);
    }else
        scrollDownLogs();
    $('#scroller .table .github textarea[data-systemInfo="no"]').append($('#systemInfo').text()).attr('data-systemInfo', 'yes')
}

function scrollDownLogs(){
    $('#scroller').scrollTop($('#scroller')[0].scrollHeight);
}

function filterLogTable(lowestLvl){
    var lvls = 'debug,info,warning,error'.split(lowestLvl)
    var toHide = lvls[0].split(',')
    toHide.pop()
    var toShow = (lowestLvl + lvls[1]).split(',')
    //console.log('toShow', toShow, toShow.length)
    //console.log('toHide', toHide, toHide.length)
    if(toShow.length)
        showLvls(toShow);
    if(toHide.length)
        hideLvls(toHide);
    scrollDownLogs();
    
}

</script>
{% endblock %}


{% block content %}
<p class="pull-left">
    <button class="btn btn-success" onClick="toogleLiveUpdate(this);"><i class="icon-refresh"></i> Live update</button>
    Logfile location: {{logPath}}
</p>
<div class="pull-right">
    Filter level:
    <div class="btn-group" data-toggle="buttons-radio" id="filter-group">
        <button class="btn active btn-mini" data-lvl="debug">Debug</button>
        <button class="btn btn-mini btn-primary" data-lvl="info">Info</button>
        <button class="btn btn-mini btn-warning" data-lvl="warning">Warning</button>
        <button class="btn btn-mini btn-danger" data-lvl="error">Error</button>
    </div>
</div>
<div class="clearfix"></div>
<p id="systemInfo" style="display:none;">
* XDM version: {{common.getVersionHuman()}}
* Updater version: {{common.UPDATER.info.localVersion}}
* Install type: {{common.UPDATER.getHumanInstallType()}}
* System: {{platform.system()}}<br>
* Release: {{platform.release()}}<br>
* Machine: {{platform.machine()}}<br>
* Python_version: {{platform.python_version()}}<br>
* Python_implementation: {{platform.python_implementation()}}
</p>
<div style="position: relative;">
    <div style="overflow-y: scroll;" id="scroller">
        <table class="table table-condensed">
            <tbody id="logs">
                {{logEntries}}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}