
{% set l = log['data']%}
{% set raw = log['raw']%}
<tr class="{{l['lvl']|lower}} {{l['lvl']}}" id="{{log['id']}}">
    <td>
        {{l['lvl']}}
    </td>
    <td style="white-space: nowrap;">
        {%if l['data']%}
        <a href="#data_{{log['id']}}" data-toggle="modal" title="Extra data"><i class="icon-sitemap"></i></a>
        <div class="modal modal-wide hide fade" id="data_{{log['id']}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Extra data for log at {{l['time']}}</h3>
            </div>
            <div class="modal-body">
                <pre>{{l['data']}}</pre>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
        {%else%}
        <i class="icon-sitemap muted" title="No extra data"></i>
        {%endif%}
        {%if l['caller']%}
        <a href="#caller_{{log['id']}}" data-toggle="modal" title="Caller info"><i class="icon-phone"></i></a>
        <div class="modal modal-wide hide fade" id="caller_{{log['id']}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Caller for log at {{l['time']}}</h3>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>File</dt>
                    <dd>{{l['caller']['file']}}</dd>
                    <dt>Line</dt>
                    <dd>{{l['caller']['line']}}</dd>
                    <dt>Function</dt>
                    <dd>{{l['caller']['fn']}}</dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
        {%else%}
        <i class="icon-phone muted" title="No caller info"></i>
        {%endif%}
        <a href="#raw_{{log['id']}}" data-toggle="modal" title="Raw log line"><i class="icon-code"></i></a>
        <div class="modal modal-wide hide fade" id="raw_{{log['id']}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Raw line for log at {{l['time']}}</h3>
            </div>
            <div class="modal-body">
                <pre>{{raw}}</pre>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </td>
    <td style="white-space: nowrap;">{{l['time']}}</td>
    <td><pre style="background: none;border: none;padding: 0;margin: 0;">{{l['msg']}}</pre></td>
</tr>
