{% extends "base.html" %}
{% set title = 'Plugin Repos' -%}
{% set active_page = active_page|default('settings') -%}
{% set active_sub_page = active_sub_page|default('plugins') -%}

{% block headInject %}
<script src="{{webRoot}}/js/managePlugins.js?v={{common.getVersionString()}}"></script>
{% endblock %}


{% block content %}
<div class="repo-container" id="repos" style="position: relative">
    <div class="clearfix"></div>
    <div class="progress progress-striped active">
        <span class="progressbar-back-text">Loading...</span>
        <div class="bar" style="width: 100%;">
            <span class="progressbar-front-text">Loading...</span>
        </div>
    </div>
    <div class="inner"></div>
    <div class="input-prepend pull-left">
        <a class="btn add-on" href="javascript:void(0)" onClick="if(checkAndSetup(this)) addRepo(this);" data-url="">Add Repository</a>
        <input type="text" placeholder="URL to the meta.json or GitHub page" style="width: 300px;"/>
    </div>
    <a href="javascript:void(0)" onClick="ajaxRepoRecache();" class="btn pull-left repo-refresh"><i class="icon-repeat"></i>Refresh Repositories</a>
    <a href="javascript:void(0)" class="btn btn-info pull-right" onClick="selectedInstallModal(this)">
        <i class="icon-download-alt"></i>Install selected
    </a>
    <div class="clearfix"></div>
</div>
{% endblock %}

