

<table class="table table-condensed table-striped table-bordered" style="background: #fff;">

{% set plugins = common.PM.getAll(returnAll=True, instance='Default')%}
{% for repo in repos %}

    <tr>
        <td colspan="7" style="text-align: center;">
            <a href="{{repo.info_url}}" target="_blank">{{repo.name}}</a>
            <a href="javascript:void(0)" onClick="removeRepo(this);" data-url="{{repo.url}}" class="btn btn-mini btn-inverse pull-right"><i class="icon-trash"></i>Remove repository</a>
        </td>
    </tr>
    <tr>
        <th>Name</th>
        <th>Identifier</th>
        <th>Type</th>
        <th>Version</th>
        <th>Description</th>
        <th>Link</th>
        <th style="position:relative;width:100px;">Action</th>
    </tr>
    {% for plugin in repo.getPlugins()%}
    <tr>
        <td>{{plugin.name}}</td>
        <td>{{plugin.identifier.replace('.','.&shy;')}}</td>
        <td>{{plugin.type}}{%if not plugin.checkType()%}<span class="label label-important">Unkown type!</span>{%endif%}</td>
        <td>{{plugin.versionHuman()}}</td>
        <td>{{plugin.desc|striptags|urlize}}</td>
        <td><a href="{{plugin.download_url}}">Download Link</a></td>
        <td style="position:relative;width:100px;">
            {%if common.REPOMANAGER.isInstalled(plugins, plugin.identifier)%}
                {% set new_version = common.REPOMANAGER.hasUpdate(plugin.identifier)%}
                {%if new_version%}
                    <a href="javascript:void(0)" class="btn btn-success btn-block" onClick="installModal(this);" data-identifier="{{plugin.identifier}}"><i class="icon-upload"></i>Update</a>
                {%else%}
                    <span class="btn btn-success disabled btn-block"><i class="icon-ok"></i>Installed</span>
                {%endif%}
            {%else%}
                    {%if plugin.checkType()%}
                        <a class="btn btn-info btn-block" href="javascript:void(0)" onClick="installModal(this);" data-identifier="{{plugin.identifier}}"><i class="icon-download-alt"></i>Install</a>
                    {%endif%}
            {%endif%}
            
        </td>
    </tr>
    {%endfor%}
{% endfor %}
</table>
