{% extends "base.html" %}
{% set title = 'Settings' -%}
{% set active_page = active_page|default('settings') -%}
{% set active_sub_page = active_sub_page|default('settings') -%}

{% block headInject %}
<script src="{{webRoot}}/js/settings.js?v={{common.getVersionString()}}"></script>
{% endblock %}

{% block content %}

<form id="theSettingsForm" class="container-fluid settings" action="{{webRoot}}/saveSettings" method="POST" accept-charset="UTF-8">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="">
            <i class="icon-fullscreen"></i>
            </th>
            {% for mtm in pluginsGrouped["MediaTypeManager"] -%}
            <th style="width:130px;position:relative;" class="text-center">
                <a href="javascript:void(0);" data-identifier="{{mtm.identifier|idSafe}}">
                    <i class="icon-resize-small"></i>
                </a>
                <div class="path init"></div>
                {{mtm.screenName}}
                
            </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
	        {% for plugin in plugins %}
	        {% if plugin.addMediaTypeOptions and plugin._type not in ["MediaTypeManager", "System", "Notifier"]%}
	        <tr>
	            <td class="">
	                <strong>{{plugin.screenName}} ({{ plugin.instance }})</strong>
	                <a class="btn btn-mini pull-right">configure</a>
	                <p class="muted">{{plugin['config_meta']['plugin_desc']|striptags|urlize|dereferMeText}}</p>
	            </td>
	            {% for mtm in pluginsGrouped["MediaTypeManager"] -%}
	            <td style="position:relative;padding:0;">
	                <div class="path"></div>
	                {% for config in plugin.c.configs %}
	                {% if "runfor" in config.name and mtm.identifier|idSafe in config.name %}
	                <div class="path{% if config.value %} connected box-shadow{% endif %}"></div>
	                <div class="path top init{% if not config.value %} hidden{% endif %}"></div>
	                <div class="path bottom end{% if not config.value %} hidden{% endif %}"></div>
	                {% endif %}
	                {% endfor %}
	                <br/>
	                <br/>
	                <br/>
	            </td>
	            {% endfor %}
	        </tr>
	        <tr class="hidden">
	            <td colspan="{{pluginsGrouped["MediaTypeManager"]|length + 1}}">
		            <div class="" id="{{plugin.name|idSafe}}">
		                <h4>{{ plugin.screenName }}{% if plugin._type != 'MediaTypeManager'%} ({{ plugin.instance }}){% endif %}
		                    {%if plugin._type != 'MediaTypeManager'%}
		                    <input class="removeInstance btn btn-inverse pull-right" type="button" value="{% if plugin.instance == 'Default' %}Reset{% else %}Delete{% endif %}{% if not plugin.single%} this{%endif%} {{ plugin.screenName }}{% if not plugin.single%} Instance{%endif%}" data-plugin="{{ plugin.type }}" data-instance="{{ plugin.instance }}"/>
		                    {%endif%}
		                    <div class="clearfix"></div>
		                </h4>
		                <div style="display: none;">
		                {{plugin.getConfigHtml()}}
		                </div>
		                <p class="muted">{{plugin['config_meta']['plugin_desc']|striptags|urlize|dereferMeText}}</p>
		                <div class="plugin {{ plugin._type }}" id="{{ plugin.name|idSafe }}_content">
		                {% for config in plugin.c.configs %}
		                {% if plugin['config_meta'][config.name]['on_live_change'] %}
		                {% set onChange = "pluginAjaxCall(this, '"~plugin.type~"', '"~plugin.instance~"', '"~plugin.name.replace(' ', '_').replace('(', '').replace(')', '')~"_content', '"~plugin['config_meta'][config.name]['on_live_change'].__name__~"')" %}
		                {%endif%}
		                {% if config.name == 'plugin_order'%}
		                <input class="plugin_order" name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name}}" type="hidden" {% if config.value %}value="{{ config.value }}"{% endif %}/>
		                
		                {% else %}
		                <div class="control-group{% if plugin['config_meta'][config.name]['human'] %} human{% endif %}{% if 'filepath' in config.name %} filepath{%elif 'path' in config.name%} path{% endif %}">
		                    <label class="control-label" title="{{plugin['config_meta'][config.name]['desc']}}">
		                    {% if plugin['config_meta'][config.name]['human'] %}{{ plugin['config_meta'][config.name]['human']|striptags|urlize|dereferMeText }}
		                    {% else %}
		                    {{ config.name.replace("_", " ") }}
		                    {% endif %}
		                    </label>
		                    <div class="controls">
		                        {% if 'select' in config.name %}
		                        <select name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name }}" data-configname="{{config.name}}" title="{{plugin['config_meta'][config.name]['desc']}}">
		                        {% for k,v in plugin['_'+config.name]().items() %}
		                            <option value="{{k}}" {% if config.value == k %}selected{% endif %}>{{v}}</option>
		                        {% endfor %}
		                        </select>
		                        {% else %}
		                        {% if config.curType() == 'int' and 'enable' not in config.name -%}
		                        {% set inputType = 'number" step="any'%}
		                        {% elif config.curType() == 'bool' or 'enable' in config.name%}
		                        {% if config.value %}
		                        
		                        {# this is a little dodgy. we append the checked attr with manipulating the string that is set for the input type#}
		                        {% set inputType = 'checkbox" checked="checked'%}
		                        {% else %}
		                        {% set inputType = 'checkbox'%}
		                        {% endif %}
		                        <input name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name}}" type="hidden" value="off"/>
		                        {% elif 'password' in config.name %}
		                        {% set inputType = 'password'%}
		                        {% else %}
		                        {% set inputType = 'text'%}
		                        {%- endif %}
		                        <input data-belongsto="{{plugin.name|idSafe}}" name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name}}" data-configname="{{config.name}}" type="{{inputType}}" {% if config.value %} value="{{ config.value }}"{% endif %} {% if plugin['config_meta'][config.name]['placeholder'] %}placeholder="{{ plugin['config_meta'][config.name]['placeholder'] }}"{% endif %} onChange="{{onChange}}" title="{{plugin['config_meta'][config.name]['desc']}}"/>
		                        {% endif %}
		                    </div>
		                </div>
		                {% endif %}
		                {% endfor %}
		                
		                {% if plugin['config_meta']['plugin_buttons'] %}
		                {% for name, button in plugin['config_meta']['plugin_buttons'].items()%}
		                <p>
		                    <input type="button" class="btn" value="{%if button['name']%}{{button['name']}}{%else%}{{name.replace('_',' ')}}{%endif%}" onClick="pluginAjaxCall(this, '{{ plugin.type }}', '{{ plugin.instance }}', '{{ plugin.name|idSafe }}_content', '{{button['action'].__name__}}')"/>
		                    <span class="muted">{{button['desc']}}</span>
		                </p>
		                {% endfor %}
		                {% endif %}
		                {% if not plugin.single %}
		                <div class="input-append">
		                    <input id="" type="text" class="newInstanceName"/>
		                    <input class="newInstance btn" type="button" value="Create new {{ plugin.screenName }} Instance" data-plugin="{{ plugin.type }}"/>
		                </div>
		                {% endif %}
		                <input class="btn btn-success pull-right" type="submit" value="Save" onclick="$('#saveOn').attr('value', '{{ plugin.name|idSafe }}')"/>
		                
		            </div>
		            <p style="margin: 10px 0 0;">
		                <span class="label label-info">Version {{ plugin.version }}</span>
		                {% set score = plugin.getMyScore()|round(2) %}
		                <span class="label label-{% if score <= PM.pylintScoreError%}danger{% elif score <= PM.pylintScoreWarning%}warning{%else%}info{%endif%}">Pylint Score {{ score }}</span>
		                
		                {%if plugin._type in ('Downloader','Indexer')%}
		                {%for dtIdentifier, extension in plugin.getSupportedDownloadExtensions().items()%}
		                <span class="download-type-extension label label-info" title="{{dtIdentifier}}">{{extension}}</span>
		                {%endfor%}
		                {%endif%}
		                
		                {%if plugin._type == 'Provider'%}
		                <span class="label label-info">Tag: {{plugin.tag}}</span>
		                {%for mtm in plugin._getSupportedManagers()%}
		                <span class="support-for-mediatype label label-info" title="{{mtm.identifier}}">{{mtm.screenName}}</span>
		                {%else%}
		                <span class="label label-warning">This only supports (an) unknown MediaTypeManager(s): {{plugin.types}}</span>
		                {%endfor%}
		                {%endif%}
		            </p>
		            </div>
		         </td>
	        </tr>
	        {% endif %}
	        {% endfor %}
        </tbody>
        <tfoot>
	        <tr>
	            <th class="">
	            </th>
	            {% for mtm in pluginsGrouped["MediaTypeManager"] -%}
	            <th style="width:130px;position:relative;" class="text-center">
	                <div class="path end"></div>
	                {{mtm.screenName}}
	            </th>
	            {% endfor %}
	        </tr>
        </tfoot>
        
    </table>
<!--

-->
</form>
<script>
$(document).ready(function() {
    init_settings();
});
</script>

{% endblock %}
