{% extends "base.html" %}
{% set title = 'Settings' -%}
{% set active_page = active_page|default('settings') -%}
{% set active_sub_page = active_sub_page|default('settings') -%}

{% block headInject %}
<script src="{{webRoot}}/js/settings.js?v={{common.getVersionString()}}"></script>
{% endblock %}

{% block content %}

<form id="theSettingsForm" class="container-fluid" action="{{webRoot}}/saveSettings" method="POST" accept-charset="UTF-8">

    <div class="row-fluid">
        <div class="span3 well">
            {% set last_type = '' -%}
            {% for plugin in plugins -%}
                {%if last_type != plugin._type%}
                {%if not loop.first%}</ul>{%endif%}
                <span class="nav-header">{{plugin._type}}</span>
                <ul class="nav nav-list {{plugin._type}}">
                {%endif%}
                <li>
                    <a href="#{{plugin.name|idSafe}}" data-toggle="tab" data-instance="{{ plugin.instance }}" data-type="{{ plugin.type }}" data-identifier="{{plugin.identifier}}">
                    {{ plugin.screenName }}{% if plugin.instance != 'Default' and not plugin._type == 'MediaTypeManager'%} ({{ plugin.instance }}){% endif %}
                    <i class="icon-{%if not plugin.enabled%}off{%endif%} pull-right" style="color:#f89406;"></i>
                    </a>
                </li>
                {%if loop.last%}
                </ul>
                {%endif%}        
                {% set last_type = plugin._type -%}
            {% endfor %}
        </div>
        <fieldset class="span9 tab-content well form-horizontal" action="/saveSettings" method="POST">
            {% for plugin in plugins -%}
            <div class="tab-pane fade" id="{{plugin.name|idSafe}}">
                <h4>{{ plugin.screenName }}{% if plugin._type != 'MediaTypeManager'%} ({{ plugin.instance }}){% endif %}
                    {%if plugin._type != 'MediaTypeManager'%}
                    <input class="removeInstance btn btn-inverse pull-right" type="button" value="{% if plugin.instance == 'Default' %}Reset{% else %}Delete{% endif %}{% if not plugin.single%} this{%endif%} {{ plugin.screenName }}{% if not plugin.single%} Instance{%endif%}" data-plugin="{{ plugin.type }}" data-instance="{{ plugin.instance }}"/>
                    {%endif%}
                    <div class="clearfix"></div>
                </h4>
                <div style="display: none;">
                {{plugin.getConfigHtml()}}
                </div>
                <p class="muted">{{plugin['config_meta']['plugin_desc']|striptags|urlize|dereferMeText}}</p>
                <div class="plugin {{ plugin._type }}" id="{{ plugin.name|idSafe }}_content">
                {% for config in plugin.c.configs %}
                {% if plugin['config_meta'][config.name]['on_live_change'] %}
                {% set onChange = "pluginAjaxCall(this, '"~plugin.type~"', '"~plugin.instance~"', '"~plugin.name.replace(' ', '_').replace('(', '').replace(')', '')~"_content', '"~plugin['config_meta'][config.name]['on_live_change'].__name__~"')" %}
                {%endif%}
                {% if config.name == 'plugin_order'%}
                <input class="plugin_order" name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name}}" type="hidden" {% if config.value %}value="{{ config.value }}"{% endif %}/>
                
                {% else %}
                <div class="control-group{% if plugin['config_meta'][config.name]['human'] %} human{% endif %}{% if 'filepath' in config.name %} filepath{%elif 'path' in config.name%} path{% endif %}">
                    <label class="control-label" title="{{plugin['config_meta'][config.name]['desc']}}">
                    {% if plugin['config_meta'][config.name]['human'] %}{{ plugin['config_meta'][config.name]['human']|striptags|urlize|dereferMeText }}
                    {% else %}
                    {{ config.name.replace("_", " ") }}
                    {% endif %}
                    </label>
                    <div class="controls">
                        {% if 'select' in config.name %}
                            <select name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name }}" data-configname="{{config.name}}" title="{{plugin['config_meta'][config.name]['desc']}}">
                            {% for k,v in plugin['_'+config.name]().items() %}
                                <option value="{{k}}" {% if config.value == k %}selected{% endif %}>{{v}}</option>
                            {% endfor %}
                            </select>
                        {% elif config.curType() == 'complex' %}
                            <select name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name }}" data-configname="{{config.name}}" title="{{plugin['config_meta'][config.name]['desc']}}"{% if config.value.multiple %} multiple="multiple"{% endif %}>
                                {% for v in config.value.options %}
                                    <option value="{{v}}" {% if v in config.value.selected %}selected{% endif %}>{{v}}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            {% if config.curType() == 'int' and 'enable' not in config.name -%}
                                {% set inputType = 'number" step="any'%}
                            {% elif config.curType() == 'bool' or 'enable' in config.name%}
                                {% if config.value %}

                                {# this is a little dodgy. we append the checked attr with manipulating the string that is set for the input type#}
                                {% set inputType = 'checkbox" checked="checked'%}
                                {% else %}
                                    {% set inputType = 'checkbox'%}
                                {% endif %}
                                <input name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name}}" type="hidden" value="off"/>
                            {% elif 'password' in config.name %}
                                {% set inputType = 'password'%}
                            {% else %}
                                {% set inputType = 'text'%}
                            {%- endif %}
                            <input data-belongsto="{{plugin.name|idSafe}}" name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name}}" data-configname="{{config.name}}" type="{{inputType}}" {% if config.value and config.value != "None" %} value="{{ config.value }}"{% endif %} {% if plugin['config_meta'][config.name]['placeholder'] %}placeholder="{{ plugin['config_meta'][config.name]['placeholder'] }}"{% endif %} onChange="{{onChange}}" title="{{plugin['config_meta'][config.name]['desc']}}"/>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                
                {% if plugin['config_meta']['plugin_buttons'] %}
                {% for name, button in plugin['config_meta']['plugin_buttons'].items()%}
                <p>
                    <input type="button" class="btn" value="{%if button['name']%}{{button['name']}}{%else%}{{name.replace('_',' ')}}{%endif%}" onClick="pluginAjaxCall(this, '{{ plugin.type }}', '{{ plugin.instance }}', '{{ plugin.name|idSafe }}_content', '{{button['action'].__name__}}')"/>
                    <span class="muted">{{button['desc']}}</span>
                </p>
                {% endfor %}
                {% endif %}
                {% if not plugin.single %}
                <div class="input-append">
                    <input id="" type="text" class="newInstanceName"/>
                    <input class="newInstance btn" type="button" value="Create new {{ plugin.screenName }} Instance" data-plugin="{{ plugin.type }}"/>
                </div>
                {% endif %}
                <input class="btn btn-success pull-right" type="submit" value="Save" onclick="$('#saveOn').attr('value', '{{ plugin.name|idSafe }}')"/>
                
            </div>
            <p style="margin: 10px 0 0;">
                <span class="label label-info">Version {{ plugin.version }}</span>
                {% set score = plugin.getMyScore()|round(2) %}
                <span class="label label-{% if score <= PM.pylintScoreError%}danger{% elif score <= PM.pylintScoreWarning%}warning{%else%}info{%endif%}">Pylint Score {{ score }}</span>
                
                {%if plugin._type in ('Downloader','Indexer')%}
                {%for dtIdentifier, extension in plugin.getSupportedDownloadExtensions().items()%}
                <span class="download-type-extension label label-info" title="{{dtIdentifier}}">{{extension}}</span>
                {%endfor%}
                {%endif%}
                
                {%if plugin._type == 'Provider'%}
                <span class="label label-info">Tag: {{plugin.tag}}</span>
                {%for mtm in plugin._getSupportedManagers()%}
                <span class="support-for-mediatype label label-info" title="{{mtm.identifier}}">{{mtm.screenName}}</span>
                {%else%}
                <span class="label label-warning">This only supports (an) unknown MediaTypeManager(s): {{plugin.types}}</span>
                {%endfor%}
                {%endif%}
            </p>
            </div>
            {% endfor %}
        </fieldset>
    </div>
</form>
<script>
$(document).ready(function() {
    init_settings();
});
</script>

{% endblock %}
