


{%if plugins%}
<script src="{{webRoot}}/js/settings.js?v={{common.getVersionString()}}"></script>

<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        {% for plugin in plugins %}
        <li><a href="#{{plugin.name|idSafe}}" data-toggle="tab">{{plugin.name}}</a></li>
        {% endfor %}
    </ul>
    <form class="tab-content" id="config-{{element.id}}">
        <input type="hidden" value="{{element.id}}" name="element_id">
        {% for plugin in plugins %}
        <fieldset class="tab-pane fade in active form-horizontal" id="{{plugin.name|idSafe}}">
            <h5>{{plugin.screenName}}</h5>
            {% for config in plugin.e.getConfigsFor(element) %}
                {% if plugin['config_meta'][config.name]['on_live_change'] %}
                {% set onChange = "pluginAjaxCall(this, '"~plugin.type~"', '"~plugin.instance~"', '"~plugin.name.replace(' ', '_').replace('(', '').replace(')', '')~"_content', '"~plugin['config_meta'][config.name]['on_live_change'].__name__~"')" %}
                {%endif%}
                <div class="control-group{% if plugin['elementConfig_meta'][config.name]['human'] %} human{% endif %}{% if 'path' in config.name %} path{% endif %}">
                    <label class="control-label" title="{{plugin['elementConfig_meta'][config.name]['desc']}}">{% if plugin['config_meta'][config.name]['human'] %}{{ plugin['config_meta'][config.name]['human'] }}{% else %}{{ config.name.replace("_", " ") }}{% endif %}</label>
                    <div class="controls">
                        {% if 'select' in config.name %}
                            <select name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name }}" data-configname="{{config.name}}" title="{{plugin['config_meta'][config.name]['desc']}}">
                            {% for k,v in plugin['_'+config.name]().items() %}
                                <option value="{{k}}" {% if config.value == k %}selected{% endif %}>{{v}}</option>
                            {% endfor %}
                            </select>
                        {% elif config.curType() == 'complex' %}
                            {% if config.value.use_checkboxes %}
                                {% if not config.required %}
                                    <label class="checkbox{% if config.value.use_checkboxes == 'inline'%} inline{% endif %}"
                                           style="display: none">
                                        <input type="checkbox" name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name }}-{{ config.curType() }}"
                                               value="__none__" disabled="disabled" />
                                        --
                                    </label>
                                {% endif %}
                                {% for v in config.value.options %}
                                    <label class="checkbox{% if config.value.use_checkboxes == 'inline'%} inline{% endif %}"
                                           style="text-transform: none">
                                        <input type="checkbox" name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name }}-{{ config.curType() }}"
                                                value="{{v}}"{% if v in config.value.selected %} checked="checked"{% endif %}
                                                onclick="var ti = 'input[name=\''+$(this).attr('name')+'\']'; if ($(ti+':checked').length === 0) { $(ti).eq(0).prop('checked', true).prop('disabled', false); } else { $(ti).eq(0).prop('checked', false).prop('disabled', true); }"
                                        />
                                        {{v}}
                                    </label>
                                {% endfor %}
                            {% else %}
                                <select name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name }}-{{ config.curType() }}" data-configname="{{config.name}}" title="{{plugin['config_meta'][config.name]['desc']}}"{% if config.value.multiple %} multiple="multiple"{% endif %}
                                        onclick="if ($(this).val() === null) { $(this).val('__none__'); $('[value=\'__none__\']', this).prop('disabled', false); } else { $('[value=\'__none__\']', this).prop('selected', false).prop('disabled', true); }">
                                    {% if not config.required %}
                                        <option value="__none__" disabled="disabled">--- none selected ---</option>
                                    {% endif %}
                                    {% for v in config.value.options %}
                                        <option value="{{v}}" {% if v in config.value.selected %}selected{% endif %}>{{v}}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        {% else %}
                            {% if config.curType() == 'int' and 'enable' not in config.name %}
                                {% set inputType = 'number" step="any'%}
                            {% elif config.curType() == 'bool' or 'enable' in config.name%}
                                {% if config.value %}

                                    {# this is a little dodgy. we append the checked attr with manipulating the string that is set for the input type#}
                                    {% set inputType = 'checkbox" checked="checked'%}
                                {% else %}
                                    {% set inputType = 'checkbox'%}
                                {% endif %}
                                <input name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name}}" type="hidden" value="off"/>
                            {% elif 'password' in config.name %}
                                {% set inputType = 'password'%}
                            {% else %}
                                {% set inputType = 'text'%}
                            {%- endif %}
                        <input data-belongsto="{{plugin.name|idSafe}}" name="{{ plugin.type }}-{{ plugin.instance }}-{{ config.name}}" data-configname="{{config.name}}" type="{{inputType}}" {% if config.value %} value="{{ config.value }}"{% endif %} {% if plugin['config_meta'][config.name]['placeholder'] %}placeholder="{{ plugin['config_meta'][config.name]['placeholder'] }}"{% endif %} onChange="{{onChange}}" title="{{plugin['config_meta'][config.name]['desc']}}"/>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
        </fieldset>
        {% endfor %}
    </form>
</div>
{%else%}
<h4>Nothing to configure</h4>
<script>
$('#ConfigFrame tabbable').ready(function() {
    $('#ConfigFrame input[type="submit"]').remove()
});
</script>
{%endif%}
