

<table style="width:100%;" class="table table-condensed">
<tbody>
{% for download in downloads %}
    <tr>
        <td style="max-width: 350px;">
            {{download.name.replace('.','.&shy;')}}
        </td>
        <td class="download-size">{{download.humanSize()}}</td>
        <td style="text-align:center;">
            <span class="label label-info">{{common.getDownloadTypeExtension(download.type)}}</span>
        </td>
        <td style="text-align:center;">
            <span class="{{download.status|statusLabelClass}}">{{download.status}}</span>
            {%if download.status in common.getCompletedStatuses() and download.pp_log%}
            <a href="#downloadLog{{download.id}}" role="button" class="btn btn-info btn-mini" data-toggle="modal">View log</a>
            <div class="modal hide fade modal-wide" id="downloadLog{{download.id}}" data-replace="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Log for {{download.name}}</h3>
              </div>
              <div class="modal-body" style="text-align: left">
                <pre>{{download.pp_log}}</pre>
              </div>
              <div class="modal-footer">
                <a href="javascript:void(0)" class="btn" data-dismiss="modal">Close</a>
              </div>
            </div>
            {%endif%}
        </td>
        <td>
            <a href="{{download.url}}" title="{{download.external_id}}">Direct Link</a>
        </td>
        <td><a href="javascript:void(0)" class="btn btn-info btn-mini" onClick="showEvents($(this), {{download.id}});">Events</a></td>
        <td style="position:relative;height: 40px;">
            <a class="btn btn-primary btn-mini" href="/getDownload?id={{download.id}}">Get</a>
            <div class="muted" style="position:absolute;bottom:0;width:200px;right:5px;text-align:right;">{{download.indexer}} ({{download.indexer_instance}})</div>
        </td>
    </tr>
{%else%}
    <tr class="notice">
        <td>
            <h4>No downloads yet.</h4>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>