<span class="pull-right muted">ID {{ download.id }}</span>
<dl>
    <dt>Name</dt>
        <dd>{{ download.name }}</dd>
    <dt>Provider</dt>
        <dd>{{download.indexer}} ({{download.indexer_instance}})</dd>
    <dt>Status</dt>
        <dd><span class="{{download.status|statusLabelClass}}">{{download.status}}</span></dd>
    <dt>Link</dt>
        <dd>{{download.url}}</dd>
    <dt>Extra data</dt>
        <dd>
            {% for key, value in download.extra_data.items() %}
            <dt>{{key}}</dt>
                <dd style="max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">{{ value }}</dd>
            {% endfor %}
        </dd>
</dl>
