
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'fonts/TypeOneRegular';
    src: url('fonts/typeone.eot');
}

@font-face {
    font-family: 'TypeOneRegular';
    src: url('fonts/typeone.woff') format('woff'),
    url('typeone.svg#TypeOne') format('svg');
}
::selection {
    background: #89CFF0; /* Safari */
    }
::-moz-selection {
    background: #89CFF0; /* Firefox */
}

body{
    color: #303030;
    background: url(../img/shattered.png) fixed;
}


body.no-tooltip .tooltip{
    display: none !important;
}

.navbar .nav a{
    /*font-family: TypeOneRegular;*/x
}

.navbar .brand{
    padding: 4px 20px 4px;
    vertical-align: bottom;
    line-height: 28px;
}

.navbar ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

.navbar ul.nav li.dropdown ul.dropdown-menu{
    -webkit-border-radius: 0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px;
    margin-top: 0;
    border-top: none;
    background-color: #f2f2f2;
}

.navbar .nav:not(.notifications)>li>.dropdown-menu:before,
.navbar .nav:not(.notifications)>li>.dropdown-menu:after {
  content: none;
}

.navbar .nav .active-sub a{
    color: #0088cc;
}

#container {
    width: 90%;
    margin: 30px auto;
    padding: 0;
    max-width: 1124px;
}


#container.settings .control-group:not(.human) label{
    text-transform: capitalize;
}
#container.settings .form-horizontal .control-label {
    width: 40%;
}
#container.settings .form-horizontal .controls {
    margin-left: 42%;
}

#container.settings .form-horizontal .controls input[type="text"],
#container.settings .form-horizontal .controls input[type="number"],
#container.settings .form-horizontal .controls input[type="password"]{
    width: 80%;
}

#container.settings .form-horizontal .path .controls input[type="text"],
#container.settings .form-horizontal .filepath .controls input[type="text"]{
    width: 50%;
}

#container.settings .form-horizontal .path .controls input.fileBrowser,
#container.settings .form-horizontal .filepath .controls input.fileBrowser{
    width: 30%;
}

#container.settings .form-horizontal input[type="checkbox"]{
    margin-top: 9px;
}

#container.plugins .label i,
#container.plugins .btn i{
    margin-right: 0.3em;
}

.setting-placeholder{
    height: 3px;
}

footer{
    margin-top: 30px;
}

footer a,
footer p{
    font-size: 90%;
    color: #000;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
footer .divider{
    padding: 0 0.3em;
}
.hint{
    color: #555;
    text-shadow: -1px -1px white, 1px 1px #333;
    font-weight: bold;
    letter-spacing: 1px;
}


.progress .bar{
    position: relative;
    z-index: 3;
    overflow: hidden;
    
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    
}
.progress .bar[style="width: 100%;"]{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;   
}
.progress span{
    line-height: inherit;
}
/*https://github.com/minddust/bootstrap-progressbar/blob/master/bootstrap-progressbar.css*/
.progress .progressbar-back-text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: center;
    z-index: 0;
}
.progress .progressbar-front-text {
    display: block;
    width: 100%;
    font-size: 12px;
    text-align: center;
}

#container.search .progress{
    width: 40%;
    position: relative;
    margin: 0 auto;
}
#container.search .mediatype>h4{
    margin-right:10px;
    margin-top:4px;
    margin-bottom: 0;
    min-width: 150px;
}
#container.search .mediatype>.nav-pills{
    margin-bottom: 5px;
}
#container.search .mediatype>.nav-pills .input-append{
    margin-bottom: 0;
}

#container.settings .control-group .input-append{
    position: relative;
    width: 100%;
}

#container.settings .nav.nav-list,
#container.settings .span3.well>span.nav-header,
.container-fluid{
    padding-right: 0;
    padding-left: 0;
}

#container.settings .span3.well>span.nav-header,
.nav-list>li>a,
.nav-list .nav-header {
    text-overflow: ellipsis;
    overflow: hidden;
}



.navbar-search .search-query{
    width: 210px;
}

/*https://github.com/twitter/bootstrap/issues/1065*/
.btn-striped {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}
.btn-striped.animate {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.btn-striped:not(.btn-primary):not(.btn-success):not(.btn-warning):not(.btn-info):not(.btn-inverse):not(.btn-danger){
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(0, 0, 0, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(0, 0, 0, 0.15)), color-stop(0.75, rgba(0, 0, 0, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
}


.navbar-search{
    margin-top: 0;
    position: relative;
    top: 5px;
    width: 30%;
}

.navbar-search .input-append{
    width: 100%;
    position: relative;
    left: -36px;
}

.navbar .notifications{
    left: 13px;
}

.notifications .dropdown-menu{
    max-width: 256px;
    width: 256px;
}
.notifications .dropdown-menu td{
    position: relative;
}
.notifications .dropdown-menu td.actions{
    width: 27px;
    vertical-align: bottom;
}
.notifications .dropdown-menu td.actions .close{
    top: 3px;
    position: absolute;
    right: 8px;
    display: none;
}
.notifications .dropdown-menu tr:hover td.actions .close{
    display: block;
}
.modal-wide{
    width: 766px;
    margin-left: -383px;
}

.notifications .dropdown-menu .actions .btn.btn-mini.btn-success.btn-block {
    margin-top: 23px;
}

.modal-wide .modal-body{
    max-height: 440px;
}
.info-buttons.text-buttons .info-events{
    width: 35px;
}
.info-buttons.text-buttons .info-downloads{
    width: 39px;
}

.icon-buttons.btn-group-vertical a{
    width: 10px;
}

td.nice-time{
    width: 28%;
}

td.download-size,
.event-type{
    border-right: 1px solid #ddd;
    text-align: right;
    padding-right: 5px;
}

#fileBrowserDialog .nav li i.front{
    min-width: 19px;
    display: inline-block;
}

.shell {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #000;
    /*background-image: url(../img/bg.gif); this causeses to show now background at all in chrome*/
    background-attachment: fixed;
    color: #66FF00;
    padding: 18px;
    min-height: 404px;
    position: relative;
    text-shadow: 0px 0px 10px #00ff0f, -1px -1px #000;
    font-family: monospace;
}
.shell .error {
    color: red;
    text-shadow: 0px 0px 10px red, -1px -1px #000;
}
.shell li{
    word-wrap: break-word;
}
.shell pre{
    background: none;
    color: inherit;
    border: none;     
}

.progress{
    position: relative;
}
#newsFeed {
    display: inline-block;
    width: 400px;
    width: calc(100% - 325px);
    width: -webkit-calc(100% - 325px);
    width: -moz-calc(100% - 325px);
    width: -o-calc(100% - 325px);
    position: relative;
}

.news.error:before{
    content: 'Bad News';
    background-color: #b94a48;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    margin-right: 4px;
}
.news.warning:before{
    content: 'Warning';
    background-color: #f89406;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    margin-right: 4px;
}
.news.success:before{
    content: 'OH YEAH';
    background-color: #468847;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    margin-right: 4px;
}

#newsFeed .news{
    width: 100%;
    display: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.progress.progress-download{
    display: none;
    margin-bottom: 0px;
}

.status-downloading .progress.progress-download{
    display: block;
}

.progress.progress-download {
    height: 6px;
}

.input-append .btn:first-child {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}


@media only screen and (max-width: 767px) {
    #container {
        width: 100%;
        margin: 0 auto;
    }
        
    #container.search .progress{
        width: 100%;
    }
    .navbar .brand{
        display: none;
    }
    .navbar .nav{
        float: none;
        margin: 0;
    }
    .navbar .nav>li{
        float: none;
        text-align: center;
    }
    .navbar-inner{
        padding-right: 0;
        padding-left: 0;
    }
    .navbar-search{
        width: 85%;
        padding-left: 0;
        padding-right: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .nav.pull-right.notifications{
        margin-right: 15px;
    }
    .navbar-search .input-append{
        left: 0;
        width: 80%;
    }
    /*
    .navbar-search .search-query{
        width: -moz-calc(100% - 47px);
        width: -webkit-calc(100% - 47px);
        width: calc(100% - 47px);
    }*/
    
    #container.settings .form-horizontal .controls input[type="text"],
    #container.settings .form-horizontal .controls input[type="number"],
    #container.settings .form-horizontal .controls input[type="password"]{
        width: 97%;
    }
    
    #container.settings .form-horizontal .path .controls input[type="text"]{
        width: 60%;
    }
    
    #container.settings .form-horizontal .path .controls input.fileBrowser{
        width: 37%;
    }
    body {
        padding-left: 0;
        padding-right: 0;
    }    
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
