

#container.wizard .navbar ul.nav{
    display: none;
}

#container.wizard .navbar .navbar-search{
    display: none;
}

#container.wizard .hero-unit h1 img{
    height: 53px;
    margin-top: -15px;
}

#container.wizard footer :not(.in-wizard){
   display: none; 
}