{% extends "base.html" %}
{% set title = 'XDM setup wizard' -%}

{% block headInject %}
<!--  wizard stuff start -->
<script src="{{webRoot}}/js/settings.js?v={{common.getVersionString()}}"></script>
<script src="{{webRoot}}/js/managePlugins.js?v={{common.getVersionString()}}"></script>
<link href="{{webRoot}}/css/wizard.css?v={{common.getVersionString()}}" rel="stylesheet">
<script src="{{webRoot}}/js/wizard.js?v={{common.getVersionString()}}"></script>
<!--  wizard stuff end -->
{% endblock %}


{% block content%}

<div class="hero-unit">
  <h1>All Done!</h1>
  {%if common.SYSTEM.c.login_user != ''%}
  <p>Gee, {{common.SYSTEM.c.login_user}}, what do you want to do tonight?</p>
  {%else%}
  <p>Gee, Brain, what do you want to do tonight?</p>
  {%endif%}
  <p>
    <span>I like to set some more stuff.</span>
    <a href="{{webRoot}}/settings" class="btn btn-primary">Settings</a>
  </p>
  <p>
  <p>
    <span>Let me take a look at thouse plugins again.</span>
    <a href="{{webRoot}}/plugins" class="btn btn-primary">Plugins</a>
  </p>
  <p>
    <span>I just want to go home.</span>
    <a href="{{webRoot}}/" class="btn btn-primary">Home</a>
  </p>
  <p>
    <span>I already found like 3 bugs, let me help you with that.</span>
    <a href="{{'https://github.com/lad1337/XDM/'|dereferMe}}" class="btn btn-primary"><i class="icon-github"></i> Github</a>
  </p>
</div>
{% endblock %}

