{% extends "base.html" %}
{% set title = 'XDM setup wizard' -%}
{% set active_page = 'wizard' -%}

{% block headInject %}
<!--  wizard stuff start -->
<script src="{{webRoot}}/js/settings.js?v={{common.getVersionString()}}"></script>
<script src="{{webRoot}}/js/managePlugins.js?v={{common.getVersionString()}}"></script>
<link href="{{webRoot}}/css/wizard.css?v={{common.getVersionString()}}" rel="stylesheet">
<script src="{{webRoot}}/js/wizard.js?v={{common.getVersionString()}}"></script>
<!--  wizard stuff end -->
{% endblock %}


{% block content%}
<div class="wizard-main well">
    <h1>Plugins</h1>
    <p>Nearly everything is controlled by a plugin.</p>
    <dl class="dl-horizontal">
        {% for plugin_class in common.PM.get_classes() %}
            <dt>{{ plugin_class.__name__ }}</dt>
            {% if plugin_class.__doc__ %}
            <dd>{{ plugin_class.__doc__.splitlines()[0] }}</dd>
            {% else %}
            <dd>Mr. dev has to write a docstring!</dd>
            {% endif %}
        {% endfor %}
    </dl>
    <div class="alert alert-error">
        XDM comes with <strong title="This is not entirely true since the SystemConfig is a plugin.">NO</strong> plugins from the start. So get some <strong>NOW</strong>.
    </div>

    <div class="repo-container">
        <div class="clearfix"></div>
        <div class="progress progress-striped active">
            <span class="progressbar-back-text">Loading...</span>
            <div class="bar" style="width: 100%;">
                <span class="progressbar-front-text">Loading...</span>
            </div>
        </div>
        <div class="inner" style="display:none;"></div>
        <div class="input-prepend pull-left">
            <a class="btn add-on" href="javascript:void(0)" onClick="if(checkAndSetup(this)) addRepo(this);" data-url="">Add Repository</a>
            <input type="text" placeholder="URL to the meta.json or GitHub page" style="width: 300px;"/>
        </div>
        <a href="javascript:void(0)" onClick="ajaxRepoRecache();" class="btn pull-left repo-refresh"><i class="icon-repeat"></i>Refresh Repositories</a>
        <a href="javascript:void(0)" class="btn btn-info pull-right" onClick="selectedInstallModal(this)"  id="install-selected">
            <i class="icon-download-alt"></i>Install selected
        </a>
        <div class="clearfix"></div>
        <p>If you already know of some cool repos add them here. Or have a look at the <a href="{{'https://github.com/lad1337/XDM/wiki'|dereferMe}}" target="_blank">Wikipage</a>.</p>
        <p class="muted">
            A repository is a collection of plugins, you can have as many repositories as you like.
            <br/>
            Plugins will be installed to {{ common.SYSTEM.c.extra_plugin_path }}
        </p>
        
    </div>
</div>


<p class="clearfix text-center">
    <a href="{{webRoot}}/wizard/{{prevStep}}" class="btn btn-primary pull-left" data-prev data-step="{{prevStep}}">
      <i class="icon-long-arrow-left"></i> Previous
    </a>
    
    <span>Step {{step}}/{{maxStep}}</span>
    
    <a href="{{webRoot}}/wizard/{{nextStep}}" class="btn btn-primary pull-right" data-next data-step="{{nextStep}}">
      Next <i class="icon-long-arrow-right"></i>
    </a>
    <div class="clearfix"></div>
</p>

{% endblock %}
