{% extends "base.html" %}
{% set title = 'XDM setup wizard' -%}
{% set active_page = 'wizard' -%}

{% block headInject %}
<!--  wizard stuff start -->
<script src="{{webRoot}}/js/settings.js?v={{common.getVersionString()}}"></script>
<script src="{{webRoot}}/js/managePlugins.js?v={{common.getVersionString()}}"></script>
<link href="{{webRoot}}/css/wizard.css?v={{common.getVersionString()}}" rel="stylesheet">
<script src="{{webRoot}}/js/wizard.js?v={{common.getVersionString()}}"></script>
<!--  wizard stuff end -->
{% endblock %}


{% block content%}
<div class="wizard-main well">
    <h1>Core settings</h1>
    <form id="theSettingsForm" class="container-fluid" action="{{webRoot}}/saveSettings" method="POST" accept-charset="UTF-8">
        <fieldset class="form-horizontal" action="/saveSettings" method="POST">
            <div class="control-group">
                <label class="control-label" title="">login user</label>
                <div class="controls">
                    <input data-belongsto="SystemConfig_Default" name="SystemConfig-Default-login_user" data-configname="login_user" type="text" value="{{common.SYSTEM.c.login_user}}" onchange="" title="">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" title="">login password</label>
                <div class="controls">
                    <input data-belongsto="SystemConfig_Default" name="SystemConfig-Default-login_password" data-configname="login_password" type="password" value="{{common.SYSTEM.c.login_password}}" onchange="" title="">
                </div>
            </div>
            <div class="control-group human">
                <label class="control-label" title="" for="137292439863917425643606111407">
                Dont open the browser on start
                </label>
                <div class="controls">
                    <input name="SystemConfig-Default-dont_open_browser" type="hidden" value="off" data-original-title="" title="">
                    <input data-belongsto="SystemConfig_Default" name="SystemConfig-Default-dont_open_browser" data-configname="dont_open_browser" type="checkbox" {%if common.SYSTEM.c.dont_open_browser%}checked="checked"{%endif%} value="True" onchange="" title="" data-original-title="" id="137292439863917425643606111407">
                    
                </div>
            </div>
            <div class="control-group human">
                <label class="control-label" title="Using this makes XDM safer but a little slower (not noticeable) to render pages." for="137292439864329970285505987704">
                Use <a href="{{'http://derefer.me/'|dereferMe}}">http://derefer.me/</a> for external links
                </label>
                <div class="controls">
                    <input name="SystemConfig-Default-use_derefer_me" type="hidden" value="off" data-original-title="" title="">
                    <input data-belongsto="SystemConfig_Default" name="SystemConfig-Default-use_derefer_me" data-configname="use_derefer_me" type="checkbox" {%if common.SYSTEM.c.use_derefer_me%}checked="checked"{%endif%} value="True" onchange="" title="Using this makes XDM safer but a little slower (not noticeable) to render pages." id="137292439864329970285505987704">
                    
                </div>
            </div>
        </fieldset>
        <input class="btn btn-success pull-right" type="submit" value="Save"/>
    </form>
</div>

<p class="clearfix text-center">
    <a href="{{webRoot}}/wizard/{{prevStep}}" class="btn btn-primary pull-left" data-prev data-step="{{prevStep}}">
      <i class="icon-long-arrow-left"></i> Previous
    </a>
    
    <span>Step {{step}}/{{maxStep}}</span>
    
    <a href="{{webRoot}}/wizard/{{nextStep}}" class="btn btn-primary pull-right" data-next data-step="{{nextStep}}">
      Next <i class="icon-long-arrow-right"></i>
    </a>
    <div class="clearfix"></div>
</p>


{% endblock %}
