<div class="action-buttons icon-buttons btn-group-vertical">
    <a href="javascript:void(0)" onclick="ajaxDeleteElement(this, {{this.id}})" class="action-delete btn btn-danger btn-mini"><i class="icon-trash"></i></a>
    <a href="javascript:void(0)" onclick="ajaxForceSearch(this, {{this.id}})" class="action-search btn btn-primary btn-mini"><i class="icon-search"></i></a>
    <a href="{{webRoot}}/refreshinfo?id={{this.id}}" class="action-reload btn btn-primary btn-mini"><i class="icon-refresh"></i></a>
</div>
