<div class="info-buttons icon-buttons btn-group-vertical">
    <a href="javascript:void(0)" class="info-config btn btn-mini"  onclick="showConfigs(this, {{this.id}});return false;"><i class="icon-wrench"></i></a>
    <a href="javascript:void(0)" class="info-events btn btn-info btn-mini" onclick="showEvents(this, {{this.id}});return false;"><i class="icon-calendar"></i></a>
    <a href="javascript:void(0)" class="info-downloads btn btn-info btn-mini" onclick="showDownlads(this, {{this.id}});return false;"><i class="icon-download-alt"></i></a>
</div>