<div class="status-select btn-group">
    <button class="btn btn-mini dropdown-toggle {{this.status.name}}" data-toggle="dropdown">
        <span class="text">{{this.status.screenName}}</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {%- for s in globalStatus -%}
        {%- if not s.hidden -%}
        <li class="{{s.name}}"><a href="javascript:void(0);" onClick="ajaxSetElementStatus(this, {{s.id}}, {{this.id}});return false;">
            {% if this.status.name == "Post Processing Fail" and s.name == "Downloaded" %}{{s.screenName}} (redo Post-Processing){% else %}{{s.screenName}}{% endif %}
        </a></li>
        {%- endif -%}
        {%- endfor -%}
    </ul>
</div>